.container.p-2
.jumbotron.jumbotron-fluid.bg-success 
  .container
    h1.display-4 Fluid jumbotron
    p.lead
      | This is a modified jumbotron that occupies the entire horizontal 
      p.space of its parent.
